In [20]:

a=15
b=20
c=15
a+b+c

print(a+b-c)

print(a**(1/3))

print(c%b)

print(b//c)

print(5+2*9/3-4)

20
2.46621207433047
15
1
7.0

In [21]:
print("Hello World")
print(4+5)
a1=5
b1=5
check1=a1==b1
print(a1+b1)
check1
print(a1**b1)
print(a1%b1)
print(a1//b1)
print(a1/b1)

Hello World
9
10
3125
0
1
1.0

In [22]:
a=15
b=5
print("divided:", a/b)
total1=a+b
print("Total",total1)
a!=b
print(a!=b)

divided: 3.0
Total 20
True

In [23]:
#logic
d=True
e=False
print(d,e)

True False

In [24]:
print("dinash", end="Sir")
print("aLi", end="@")
print("j", end=".")
print("edu.pk")

dinashSiraLi@j.edu.pk

In [25]:
#list
officelocation=[1,"07",'Cubical 32',"Pakistan"]
officelocation

[1, '07', 'Cubical 32', 'Pakistan']

In [32]:
#Indentify
name="Dinash Maliya"
type(c)
type(name)
type(officelocation)
print(type(name))
print(type(c))
print(type(officelocation))

<class 'str'>
<class 'int'>
<class 'list'>

In [33]:
#Reasinging varibales
a=6
a=a+15
print(a)

21

In [ ]:
a=6
a+=15
print(a)

In [34]:
a=6
a*=15
print(a)

90

In [ ]:
a=30
a/=15
print(a)

In [ ]:
a=3
a=a**5
print(a)

In [35]:
a=15
a=a%2
print(a)

1

In [43]:
#Logical OPrrationss
#==, !=, >=, <=, >, <, or, and , not
a1=22
b=21
c=20
a=10

a==b
a>=b
b>=c
c<a
a!=a
print(a==b)
print(a>=b)
print(b>=c)
print(c<a)
print(a1!=a)

False
False
True
False
True

In [44]:
not b==b  and  not c==a

False

In [45]:

not a>a and b>c

True

In [46]:
officehours=input("Enter your office hourse:")
print(officehours)

Enter your office hourse:6
6

In [52]:
F_Name=input("Enter your First Name:")
L_Name=input("Enter your Last Name:")
age=int(input("Enter your Age:"))
print(F_Name,L_Name,age)

Enter your First Name:Dinash
Enter your Last Name:Maliya
Enter your Age:32
Dinash Maliya 32

In [ ]:
#take input in int/float
Mynumber=int(input("Enter your FavNumber:"))
print("Your Favourite number is:",int(Mynumber))

In [73]:
#Slicing
name="Sir Dinash Maliya"
#name[0]
#name[-1]
#name[7]
#name[0:10]
#name[0:]
#name[-6:0]
#name[-15:-6]
#name[:4]
#name[::-1]
#name[::1]
#name[::2]
#name[-2::]

'ya'

In [ ]:

"Instrcutor: "+name.upper()[0:9] + " Applied Programming"

In [ ]:
#string Formating
name="Sir Dinash"
name.upper()
name.lower()
name.split()
print(name.lower())