### **List of Python**

In [58]:
my_list = [1, 2, 3, "apple", "banana"]
print(my_list)

[1, 2, 3, 'apple', 'banana']

In [5]:
my_list = [3,23,45,"Zarar","Ali"]

for a in my_list:
  print(a)

3
23
45
Zarar
Ali

**for Loop in list**

In [59]:
for i in my_list:
  print(i)

1
2
3
apple
banana

# **len function**

In [7]:
len1=len(my_list)
print(len1)

5

**append list**

In [14]:
# prompt: append in list
new=["apple","banana","orange"]



my_list.append(90) # append to the end of the list
print(my_list)
my_list.extend(new) # append multiple items to the end of the list
print(my_list)

[3, 23, 45, 'Zarar', 'Ali', 'orange', 'Junaid', 90, 90, 100, 110, 90, 100, 110, 90, 100, 110, 90]
[3, 23, 45, 'Zarar', 'Ali', 'orange', 'Junaid', 90, 90, 100, 110, 90, 100, 110, 90, 100, 110, 90, 'apple', 'banana', 'orange']

# **extended list**

In [77]:


# extend the list by appending all the items from the iterable
my_list.extend(["grape", "mango"])
print(my_list)

list2 = [1, 2, 3]
my_list.extend(list2)
print(my_list)




# extend the list by appending all the items from the iterable
my_list.extend(["grape", "mango"])
print(my_list)

[1, 2, 3, 'apple', 'banana', 'orange', 'orange', 'orange', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango']
[1, 2, 3, 'apple', 'banana', 'orange', 'orange', 'orange', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 1, 2, 3]
[1, 2, 3, 'apple', 'banana', 'orange', 'orange', 'orange', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 1, 2, 3, 'grape', 'mango']

# **Insert**

In [16]:
my_list.insert(10, "kiwi")
print(my_list)

[3, 23, 'kiwi', 45, 'Zarar', 'Ali', 'orange', 'Junaid', 90, 90, 'kiwi', 100, 110, 90, 100, 110, 90, 100, 110, 90, 'apple', 'banana', 'orange']

# **remove list**

In [80]:
my_list.remove("orange")
print(my_list)

[1, 2, 'kiwi', 3, 'banana', 'orange', 'orange', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 'grape', 'mango', 1, 2, 3, 'grape', 'mango']

# **pop function**

In [17]:
my_list.pop(4)
print(my_list)

[3, 23, 'kiwi', 45, 'Ali', 'orange', 'Junaid', 90, 90, 'kiwi', 100, 110, 90, 100, 110, 90, 100, 110, 90, 'apple', 'banana', 'orange']

# ** Dictionary**

In [84]:
# prompt: Dictionary program in pyhton

# Creating a dictionary
my_dict = {
  "name": "John Doe",
  "age": 30,
  "city": "New York"
}
print(my_dict)

# Accessing values
print(my_dict["name"])  # Output: John Doe
print(my_dict.get("age"))  # Output: 30

# Adding a new key-value pair
my_dict["occupation"] = "Software Engineer"
print(my_dict)

# Modifying a value
my_dict["age"] = 31
print(my_dict)

# Removing a key-value pair
del my_dict["city"]
print(my_dict)

# Iterating through a dictionary
for key, value in my_dict.items():
  print(key, ":", value)

# Checking if a key exists
if "name" in my_dict:
  print("Name key exists")

# Other dictionary methods
print(my_dict.keys())  # Returns a list of keys
print(my_dict.values())  # Returns a list of values

{'name': 'John Doe', 'age': 30, 'city': 'New York'}
John Doe
30
{'name': 'John Doe', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer'}
{'name': 'John Doe', 'age': 31, 'city': 'New York', 'occupation': 'Software Engineer'}
{'name': 'John Doe', 'age': 31, 'occupation': 'Software Engineer'}
name : John Doe
age : 31
occupation : Software Engineer
Name key exists
dict_keys(['name', 'age', 'occupation'])
dict_values(['John Doe', 31, 'Software Engineer'])

In [88]:
my_new_dict = {
  "name": "Dinash Maliya",
  "age": 32,
  "city": "Karachi"
}
print(my_new_dict)
for key, value in my_new_dict.items():
  print(key, value)

{'name': 'Dinash Maliya', 'age': 32, 'city': 'Karachi'}
name Dinash Maliya
age 32
city Karachi

### **Tuples of Python**

In [126]:
# prompt: create tuples of 10 values

my_tuple = (1, 2, 3, "apple", "banana", True, 3.14, "orange", "grape", 100)
print(my_tuple)
my_tuple[3]
print(len(my_tuple))

len1=len(my_tuple)
for a in range(len1):
  print(my_tuple[a])
#max
#min
#count
#index
#sum
#sorted

(1, 2, 3, 'apple', 'banana', True, 3.14, 'orange', 'grape', 100)
10
1
2
3
apple
banana
True
3.14
orange
grape
100

**tuples function**

In [142]:
my_tuple1 = (1,2,3,5,6,2,2,19,34,2,2)

print(max(my_tuple1))
print(min(my_tuple1))
print(my_tuple.count(2))
print(my_tuple1.index(6))
print(sum(my_tuple1))
print(sorted(my_tuple1))

34
1
1
4
78
[1, 2, 2, 2, 2, 2, 3, 5, 6, 19, 34]

# **set of python**

In [104]:
# prompt: set in python

# Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Adding elements
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

# Removing elements
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5, 6}

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set1 & set2)  # Output: {3}
print(set1.intersection(set2))  # Output: {3}

# Difference
print(set1 - set2)  # Output: {1, 2}
print(set1.difference(set2))  # Output: {1, 2}

# Checking membership
if 2 in set1:
  print("2 is in set1")
my_new_set = {1, 2, 3,5,6,7,9,3}
my_new_set.pop()
my_new_set2 = {1, 13,14,6}
my_new_set2.update(my_new_set)
print(my_new_set2)
#add
#remove
#union
#intersection
#difference
#discard
#pop
#clear
#update
for a in my_new_set:
  print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
2 is in set1
{1, 2, 3, 5, 6, 7, 9, 13, 14}
2
3
5
6
7
9

In [64]:
print("this is my first{}".format("python class"))

this is my firstpython class

In [71]:
# prompt: pyhton dictionary


# Python dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)
for key, value in my_dict.items():
  print(key, value)

{'name': 'John', 'age': 30, 'city': 'New York'}
name John
age 30
city New York

In [ ]:
# prompt: create marksheet using if

marks = int(input("Enter your marks: "))

if marks >= 90:
  grade = "A+"
elif marks >= 80:
  grade = "A"
elif marks >= 70:
  grade = "B"
elif marks >= 60:
  grade = "C"
elif marks >= 50:
  grade = "D"
else:
  grade = "F"

print("Your grade is:", grade)

In [67]:
# prompt: 2 table using for loop

num = int(input("Enter the number for table: "))

for i in range(1, 11):
  print(num, "x", i, "=", num*i)

Enter the number for table: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [68]:
# prompt: while loop

count = 0
while count < 5:
  print("Count:", count)
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [69]:
# prompt: create small program using while loop

secret_number = 42
guess = 0

while guess != secret_number:
  guess = int(input("Guess the secret number: "))
  if guess < secret_number:
    print("Too low!")
  elif guess > secret_number:
    print("Too high!")

print("Congratulations! You guessed the secret number.")

Guess the secret number: 32
Too low!
Guess the secret number: 45
Too high!
Guess the secret number: 42
Congratulations! You guessed the secret number.

In [27]:
from fractions import Fraction

In [28]:
faraction=Fraction(8,3)
print(faraction)

8/3

In [33]:
Fraction(20/4)

Fraction(5, 1)

In [29]:
frac_num = 8/3
print("Rational number formatting using %d")
print("%d is equal to 8/3 using this operator." % frac_num)

Rational number formatting using %d
2 is equal to 8/3 using this operator.

In [34]:
# declaring rational number
frac_num = 8/3

# concatenating numeric value within string
print("Rational number formatting using %d")
print("%d is equal to 8/3 using this operator." % frac_num)

# declaring decimal number
dec_num = 10.9785

# concatenating numeric value within string
print("Decimal number formatting using %d")
print("%d is equal to 10.9785 using this operator." % dec_num)

Rational number formatting using %d
2 is equal to 8/3 using this operator.
Decimal number formatting using %d
10 is equal to 10.9785 using this operator.

In [42]:
a=10
b=6
c=45
print("%d , %d kia hal hai%d"%(a,b,c))

10 , 6 kia hal hai45

In [14]:

name =input("Enter your Name:")
age = input("Enter your age:")

print ("%s's age is %s."%(name.upper(),age))

Enter your Name:dinash
Enter your age:34
DINASH's age is 34.

In [15]:
a=55
b=155
c=14

a,b,c=c,b,a

print(a,b,c)

14 155 55

In [16]:
randonnumber=float(input("Enter Your Floating Number"))
print("Your Enter Number is %13.2f"%randonnumber)

Enter Your Floating Number2
Your Enter Number is          2.00

In [17]:
#formatted vs Raw data
print("Statement in 2 lines %s"%'My name is \n Dinash Maliya\n MSCS Stuent')
print("Statement in 2 lines %r"%'My name is \n Dinash Maliya\n MSCS Stuent')

Statement in 2 lines My name is
 Dinash Maliya
 MSCS Stuent
Statement in 2 lines 'My name is \n Dinash Maliya\n MSCS Stuent'

In [18]:
# Using %s
name = 'Dinash'
age = 32
print("My name is %s and I am %s years old." % (name, age))

# Using %r
name = 'Dinash'
age = 32
print("My name is %r and I am %r years old." % (name, age))

My name is Dinash and I am 32 years old.
My name is 'Dinash' and I am 32 years old.

In [19]:
#format

print("My name is {0}, I'm {1}".format("Dinash",32))
Name_Age = "My name is {fname}, I'm {age} and I'm Student of {Class} in Maju".format(fname = "Dinash", age = 32, Class="MSCS")
print(Name_Age)

My name is Dinash, I'm 32
My name is Dinash, I'm 32 and I'm Student of MSCS in Maju

In [20]:
#aligment
print('{0:20} | {1:20}'.format("Course Code", "Course Title"))
print('{0:#>20} | {1:#>20}'.format("Course Code", "Course Title"))
print('{0:>20} | {1:@>20}'.format("Course Code", "Course Title"))

Course Code          | Course Title
#########Course Code | ########Course Title
         Course Code | @@@@@@@@Course Title

In [21]:
#fstring
title="Applied Programing"
print(f"Course Title is {title!r}")

Course Title is 'Applied Programing'

In [22]:
#Condition
a=155
b=1000
if a<b:
  print("a is smaller than b")
else:
  print("b is smaller than a")

a is smaller than b

In [23]:
a=int(input("Enter Your First Value:"))
b=int(input("Enter Your 2nd Value:"))
if a<b:
  print("First Value is smaller than 2nd Value:")
elif b<a:
  print("2nd Value is smaller than First Value:")
else:
  print("Both are equal")

Enter Your First Value:2
Enter Your 2nd Value:2
Both are equal

In [24]:
a=int(input("Enter Your 1st Value:"))
b=int(input("Enter Your 2nd Value:"))
cb=int(input("Enter Your 3rd Value:"))
if a<b:
  if a <c:
    print("1st is smallest")
  elif b<c:
    print("2nd is smallest")
  else:
    print("3rd is smallest")

Enter Your 1st Value:2
Enter Your 2nd Value:2
Enter Your 3rd Value:3

In [25]:
for number1 in range(1,11):
  print(number1)

1
2
3
4
5
6
7
8
9
10

In [44]:
# prompt: for loop

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119