In [ ]:
import pandas as pd

In [ ]:
# prompt: import excel file

import pandas as pd

df = pd.read_excel('/sample_data_1.xlsx')
df

    Employee ID                 Name   Salary   Age   Gender  Joining Date
0        6750.0      Henry Alexander  50217.0  33.0     Male    2014-01-13
1        3109.0     Cassandra Wilson  31278.0  45.0   Female    2018-03-21
2        4024.0      Raymond Griffin  44921.0  53.0     Male    2020-12-05
3        1638.0     Stephanie Benson  60234.0  29.0   Female    2019-07-15
4        9536.0   Josephine Hamilton  52918.0  37.0   Female    2012-11-27
..          ...                  ...      ...   ...      ...           ...
69       1802.0         Karen Parker  38210.0  33.0   Female    2011-01-22
70       9641.0          Steven Ward  35123.0  50.0     Male    2018-09-11
71       4930.0           Amy Torres  41132.0  35.0   Female    2016-06-30
72       7261.0         Bobby Howard  39012.0  52.0     Male    2013-12-05
73       8563.0         Judith White  46123.0  41.0   Female    2021-07-18

[74 rows x 6 columns]

In [ ]:
# Count NAN

df.isnull().sum()

Employee ID      3
 Name            4
 Salary          3
 Age             3
 Gender          4
 Joining Date    0
dtype: int64

In [ ]:
#  use df.shape
# Count NAN

df.isnull().sum()

# Use df.shape
df.shape

(74, 6)

In [ ]:
# number of rows count



df.isnull().sum()

# Count number of rows
num_rows = df.shape[0]
print(num_rows)

74

In [ ]:
# Select a single column
print(df['Name'])

KeyError: 'Name'

In [ ]:
# Select multiple columns
print(df[['Last Name', 'Gender']])

KeyError: "None of [Index(['Last Name', 'Gender'], dtype='object')] are in the [columns]"

In [ ]:
# Select rows by index
print(df.iloc[0:5])  # first row

   Employee ID                 Name   Salary   Age   Gender  Joining Date
0       6750.0      Henry Alexander  50217.0  33.0     Male    2014-01-13
1       3109.0     Cassandra Wilson  31278.0  45.0   Female    2018-03-21
2       4024.0      Raymond Griffin  44921.0  53.0     Male    2020-12-05
3       1638.0     Stephanie Benson  60234.0  29.0   Female    2019-07-15
4       9536.0   Josephine Hamilton  52918.0  37.0   Female    2012-11-27

In [ ]:
#  count gender male
# Count the number of males
male_count = df['Gender'].value_counts()['Female']
print(male_count)

KeyError: 'Gender'

In [ ]:
# Fill random value in nan


df.fillna(np.random.randint(0, 100), inplace=True)
print(df)

    Employee ID                 Name   Salary   Age   Gender  Joining Date
0          6750      Henry Alexander    50217    33     Male    2014-01-13
1          3109     Cassandra Wilson    31278    45   Female    2018-03-21
2          4024      Raymond Griffin    44921    53     Male    2020-12-05
3          1638     Stephanie Benson    60234    29   Female    2019-07-15
4          9536   Josephine Hamilton    52918    37   Female    2012-11-27
..          ...                  ...      ...   ...      ...           ...
69         1802         Karen Parker    38210    33   Female    2011-01-22
70         9641          Steven Ward    35123    50     Male    2018-09-11
71         4930           Amy Torres    41132    35   Female    2016-06-30
72         7261         Bobby Howard    39012    52     Male    2013-12-05
73         8563         Judith White    46123    41   Female    2021-07-18

[74 rows x 6 columns]

In [ ]:
# Select rows by condition
print(df[df['Employee ID'] > 30])

    Employee ID                 Name   Salary   Age   Gender  Joining Date
0        6750.0      Henry Alexander  50217.0  33.0     Male    2014-01-13
1        3109.0     Cassandra Wilson  31278.0  45.0   Female    2018-03-21
2        4024.0      Raymond Griffin  44921.0  53.0     Male    2020-12-05
3        1638.0     Stephanie Benson  60234.0  29.0   Female    2019-07-15
4        9536.0   Josephine Hamilton  52918.0  37.0   Female    2012-11-27
..          ...                  ...      ...   ...      ...           ...
69       1802.0         Karen Parker  38210.0  33.0   Female    2011-01-22
70       9641.0          Steven Ward  35123.0  50.0     Male    2018-09-11
71       4930.0           Amy Torres  41132.0  35.0   Female    2016-06-30
72       7261.0         Bobby Howard  39012.0  52.0     Male    2013-12-05
73       8563.0         Judith White  46123.0  41.0   Female    2021-07-18

[71 rows x 6 columns]

In [ ]:
#  Replace NAN value in data

import numpy as np
df.fillna(0, inplace=True) # replace with 0
print(df)

    Employee ID                 Name   Salary   Age   Gender  Joining Date
0        6750.0      Henry Alexander  50217.0  33.0     Male    2014-01-13
1        3109.0     Cassandra Wilson  31278.0  45.0   Female    2018-03-21
2        4024.0      Raymond Griffin  44921.0  53.0     Male    2020-12-05
3        1638.0     Stephanie Benson  60234.0  29.0   Female    2019-07-15
4        9536.0   Josephine Hamilton  52918.0  37.0   Female    2012-11-27
..          ...                  ...      ...   ...      ...           ...
69       1802.0         Karen Parker  38210.0  33.0   Female    2011-01-22
70       9641.0          Steven Ward  35123.0  50.0     Male    2018-09-11
71       4930.0           Amy Torres  41132.0  35.0   Female    2016-06-30
72       7261.0         Bobby Howard  39012.0  52.0     Male    2013-12-05
73       8563.0         Judith White  46123.0  41.0   Female    2021-07-18

[74 rows x 6 columns]

In [ ]:
print(df['Employee ID'].isnull().sum()) # Added parentheses after isnull

0

In [ ]:
print(df['Employee ID'].duplicated().sum())

6

In [ ]:
# Delete a column
df.drop(' Country', axis=1, inplace=True)
print(df)

# Delete a row by index
df.drop(0, axis=0, inplace=True)
print(df)

In [ ]:
# Group by a column and calculate the mean
grouped = df.groupby('Country').mean()
print(grouped)

## **Merging DataFrames**

In [ ]:
# Merge DataFrames
data3 = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Salary': [50000, 60000, 70000, 80000]
}
df3 = pd.DataFrame(data3)

# Recreate df with the 'Name' column
data = {'Name': ['John', 'Peter', 'Anna', 'Linda'],
        'Age': [25, 32, 28, 35],
        'Country': ['USA', 'Canada', 'USA', 'UK']}
df = pd.DataFrame(data)

merged_df = pd.merge(df, df3, on='Name')
print(merged_df)

# **Handling Missing Data**

In [ ]:
data_with_nan = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, None, 35, 32],
    'City': ['New York', 'Paris', None, 'London']
}
df_nan = pd.DataFrame(data_with_nan)

# Drop rows with missing values
print(df_nan.dropna())

# Fill missing values
print(df_nan.fillna({'Age': 0, 'City': 'Unknown'}))

In [ ]:
df.head(5)

In [ ]:
df.isnull().sum()  #checking null values

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.tail(5)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
#df.size

df.size # gives total number of elements

In [ ]:
# df.ndim use

df.ndim # gives number of dimensions

In [ ]:
df.ndim

In [ ]:
# df.axes use

df.axes # gives row labels and column labels

In [ ]:
#df.memory_usage() use

df.memory_usage()

In [ ]:
df.value_counts('Country')

In [ ]:
import numpy as np

# Calculate the sum of null values in the 'Gender' column
sum_null_values = df['First Name'].isnull().sum()

#Assign the sum of null values to the first row
df.loc[0] = sum_null_values
df

In [ ]:
df.isnull().sum()

In [ ]:
df.replace(np.nan,30000)

In [ ]:
df['Country']=df['Country'].replace(np.nan,"Pakistan")

In [ ]:
# Apply a function to a column
df['Age'] = df['Age'].apply(lambda x: x + 1)
print(df)

# Apply a function to multiple columns
# Changed 'City' to 'Country' to use an existing column
df['Full_Info'] = df.apply(lambda row: f"{row['Name']}, {row['Age']}, {row['Country']}", axis=1)
print(df)